node_modules/*
!node_modules/@types/
node_modules/@types/*
!node_modules/@types/estree
node_modules/@types/estree/*
!node_modules/@types/estree/index.d.ts

src/lang/*
!src/lang/Calc.g4

*.js
!docs/jsdoc/templates/**/*.js
!docs/lib/**/*.js
*.map
dist/
.idea/
coverage/

# emacs backup files
*~

.vscode/
tsconfig.tsbuildinfo
test-report.html
*.DS_Store
src/lang/.antlr/*
test.swift